// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #3c4161;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #151727;
@very-dark-gray: #1d1f21;

@white: #ffffff;
@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #f4c2c1;
@orange: #de935f;
@light-orange: #f0c674;

@dark-navy: #1e2138;
@char-line: #252946;
@numbers-column: #1c1f33;
@numbers-column-selected-background: #1e2138;
