@white: #ffffff;
@cyan: #8abeb7;
@gray: #373b41;
@blue: #4b54ea;
@purple: #b294bb;
@green: #b5bd68;
@red: #f4c2c1;
@orange: #e05959;

@gains-borrow: #dcdcdc;
@original-red: #d0304e;
@dark-navy: #1e2138;
@dark-gray: #151727;
@light-gray: #969896;
@very-light-gray: #3c4161;
@royal-blue: #0d73cc;
@char-line: #252946;
@numbers-column: #1c1f33;
@numbers-column-selected-background: @dark-navy;
@comment-color: #2d3952;
@selected-line-number-bg: @dark-gray;
@selected-line-number-color: #817d9a;

@syntax-varaible-color: #6464d2;
@syntax-string: #363663;
@syntax-class-color: @blue;
@syntax-symbols-color: #9da8dc;
@syntax-attribute-color: #8399bd;
@syntax-function-color: #0d73cc;
